* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    line-height: 1.6;
    color: #6c4242;
    background-color: #eb95cb;
}

header {
    background: linear-gradient(to right, violet, pink, orange, red);    color: #6c4242;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header nav ul {
    background-color: linear-gradient(to right, red, orange, pink, violet); 
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#home {
    background-image: url(images/IMG_5265.JPG);
    background-attachment: fixed;
    background-size:cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro h1 {
    font-size: 48px;
    color: #fff;
}

.intro p {
    font-size: 30px;
    color: #fefefe;
    margin: 20px 0;
}

.intro button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #00aaff;
    border: none;
    color: white;
    transition: background 0.3s ease;
}

.intro button:hover {
    background-color: #0077cc;
}

section {
    padding: 100px 20px;
    text-align: center;
}

#about {
    background-color: #efebd2;
}

#skills .skill {
    margin: 20px 0;
}


.progress {
    background-color: #efebd2;
    height: 20px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #00aaff;
}

.project-card {
    background-color: #efebd2;
    border: 1px solid #efebd2;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.project-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.styled-button{
    background-color: #4CAF50;
    border: none ; 
    color: white; 
    padding: 5px 10px;
    text-align: center; 
    text-decoration: none; 
    display: inline; 
    font-size: 16px; 
    margin: 5px 5px; 
    cursor: pointer;
    border-radius: 6px; 

}
#me{
    background-color: #eb95cb;
}